{% extends "myapp/base.html" %}
{% block content %}
<div>
    <div>
        <h5>{{project.project_name}}</h5>
        <h5>{{project.project_desc}}</h5>
        <a role="button" class="btn btn-primary" href="{% url 'issue-add' %}">Dodaj Issue</a>
    </div>
    <div>
        <table id="issue-table" class="table table-bordered table-dark">
            <thead>
                <tr>
                  <th>Wybrane do zrobienia</th>
                  <th>W trakcie</th>
                  <th>Oczekuje na akceptację</th>
                  <th>Testowanie</th>
                  <th>Gotowe</th>
                </tr>
              </thead>
            <tbody>
                {% for issue in issues %}
                <tr >
                    <td>
                        {% if issue.issue_position == 0 %}
                            <a href="{% url 'issue' issue.id %}">{{issue.issue_name}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if issue.issue_position == 1 %}
                            <a href="{% url 'issue' issue.id %}">{{issue.issue_name}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if issue.issue_position == 2 %}
                            <a href="{% url 'issue' issue.id %}">{{issue.issue_name}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if issue.issue_position == 3 %}
                            <a href="{% url 'issue' issue.id %}">{{issue.issue_name}}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if issue.issue_position == 4 %}
                            <a href="{% url 'issue' issue.id %}">{{issue.issue_name}}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}