{% extends "myapp/base.html" %}
{% block content %}
<div>
    <div>
        <h5>{{project.project_name}}</h5>
        <h5>{{project.project_desc}}</h5>
    </div>
    <div>
        <table class="table table-dark">
            <thead>
                <tr>
                  <th>Wybrane do zrobienia</th>
                  <th>W trakcie</th>
                  <th>Oczekuje na akceptację</th>
                  <th>Testowanie</th>
                  <th>Gotowe</th>
                </tr>
              </thead>
            <tbody>
                      
            </tbody>
        </table>
    </div>
</div>
{% endblock %}